<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lunchbot API</title>
  <style>
    html, body {
      margin: 0px;
      height: 100%;
    }
    embed {
      height: 100%;
      width: 100%;
    }
  </style>
</head>
<body>
  <embed src="https://william-helmenius.gitbook.io/lunchbot"/>
</body>
</html>
