<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&amp;display=swap" rel="stylesheet">
</head>
<body style="background-color: #7b90dc; zoom: 1.9">
    <div class="center" style="background-color: white; border-radius: 10px; width: 75%; padding: 5px 10px 10px 10px;">
        <table>
            <tr>
                <div style="position: absolute; margin-left: 90%; font-size: x-large; color: #6c757d">
                    <h1 id="clock">00:00</h1>
                </div>
                <th colspan="2">
                    <h1>EATERY KISTA NOD — MENY VECKA {{listed_week}}</h1>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                  <h1>DAGENS LUNCH ()</h1>
                  <p class="todayp">
                      {{current_day}}
                  </p>
                </td>
            </tr>
          <tr>
            <td style="border: none"></td>
          </tr>
            <tr>
                <td>
                  <h2>ONSDAG</h2>
                  <p>
                    Klassisk wallenbergare med tillbehör
                    Mjölstekt gös, rädisor, confiterad lök och dillslungad potatis
                    Vegetarisk lasagne med tomat och melonsallad
                  </p>
                </td>
                <td>
                  <h2>ONSDAG</h2>
                  <p>
                    Klassisk wallenbergare med tillbehör
                    Mjölstekt gös, rädisor, confiterad lök och dillslungad potatis
                    Vegetarisk lasagne med tomat och melonsallad
                  </p>
                </td>
            </tr>
          <tr>
            <td style="border: none"></td>
          </tr>
            <tr>
                <td>
                  <h2>ONSDAG</h2>
                  <p>
                    Klassisk wallenbergare med tillbehör
                    Mjölstekt gös, rädisor, confiterad lök och dillslungad potatis
                    Vegetarisk lasagne med tomat och melonsallad
                  </p>
                </td>
                <td>
                  <h2>ONSDAG</h2>
                  <p>
                    Klassisk wallenbergare med tillbehör
                    Mjölstekt gös, rädisor, confiterad lök och dillslungad potatis
                    Vegetarisk lasagne med tomat och melonsallad
                  </p>
                </td>
            </tr>
        </table>
    </div>
</body>
<style>
    tr {
      margin-bottom: 20px;
    }

    td {
      padding: 10px 5px;
      border-left: 2px solid #AAAAAA;
    }

    h1 {
      font-family: Poppins;
      color: #6c757d;
      font-size: 20px;
      margin: 0;
    }

    h2 {
      font-family: Poppins;
      color: #6c757d;
      font-size: 17px;
      margin: 0;
    }

    p {
      font-family: Poppins;
      font-size: 15px;
      color: #6c757d;
      margin: 0;
    }

    .todayp {
      font-family: Poppins;
      font-size: 17px;
      color: #6c757d;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<script>
    const t = new Date();
    document.getElementById("clock").innerHTML = t.getHours() +":"+ t.getMinutes();
</script>
</html>
