<!DOCTYPE html>
<html style="overflow: hidden;">
  <head>
	<title>Eatery Lunchmenyn | Lunchbot</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="The Premier Discord Bot for Tracking Your Favorite Lunch Establishment.">
	<link rel="shortcut icon" href="https://i.imgur.com/cIM9Nsf.png" type="image/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tailwindcss/ui@latest/dist/tailwind-ui.min.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <style>
      * { 
      	box-sizing: border-box; 
      	font-family: 'Inter', sans-serif;
      }

      html {
        zoom: {{zoom}};
      }

      body, html {
        margin: 0px;
      }

      .grid {
        overflow-x: hidden;
      }

      .grid:after {
        content: '';
        display: block;
        clear: both;
      }

      .hide-scroll::-webkit-scrollbar {
         width: 0px;
         background: transparent;
       }
    </style>
  </head>
  <body class="antialiased font-sans bg-gray-800 opacity-0">
    <div class="p-8 bg-gray-800 lg:pb-4">
      <div class="lg:flex lg:items-center lg:justify-between">
        <div class="flex-1 min-w-0">
          <h2 class="text-2xl font-bold leading-7 text-white sm:text-3xl md:leading-9">
            EATERY KISTA NOD — MENY VECKA {{week_number}}
          </h2>
        </div>
        @if(tv !== true)
        <div class="mt-4 flex lg:mt-0 lg:ml-4 overflow-auto hide-scroll text-center">
          <span class="shadow-sm rounded-md">
            <a href="https://discordapp.com/oauth2/authorize?client_id=642020950853943306&scope=bot&permissions=67226688" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-400 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-600 active:bg-indigo-600 transition duration-150 ease-in-out">
              Discord Bot
            </a>
          </span>
          <span class="ml-3 shadow-sm rounded-md">
            <a href="https://calendar.google.com/calendar/r?cid=is2oe8gf2gscki6q1eo299i5m9lo0dr2@import.calendar.google.com" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-400 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-600 active:bg-indigo-600 transition duration-150 ease-in-out">
              Google Calendar
            </a>
          </span>
          <span class="ml-3 shadow-sm rounded-md">
            <a href="https://assistant.google.com/services/invoke/uid/000000b1f05caed4?hl=sv" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-400 focus:outline-none focus:shadow-outline-indigo focus:border-indigo-600 active:bg-indigo-600 transition duration-150 ease-in-out">
              Google Assistant
            </a>
          </span>
          <span class="ml-3 shadow-sm rounded-md">
            <a href="/api" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-gray-600 hover:bg-gray-500 focus:outline-none focus:shadow-outline-gray focus:border-gray-700 active:bg-gray-700 transition duration-150 ease-in-out">
              API Docs
            </a>
          </span>
          <span class="ml-3 shadow-sm rounded-md">
            <a href="https://github.com/NERO2k/lunchbot" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-gray-600 hover:bg-gray-500 focus:outline-none focus:shadow-outline-gray focus:border-gray-700 active:bg-gray-700 transition duration-150 ease-in-out">
              Github Page
            </a>
          </span>
        </div>
        @endif
      </div>
    </div>
    <div class="grid lg:m-2" style="overflow: hidden;">
      @each((data, name) in menu)
      <div class="grid-item w-full lg:w-1/2">
        <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6 md:m-0 lg:m-2 lg:rounded-md rounded-none">
          <strong class="d-block text-gray-dark">{{engDayCast[name].toUpperCase() || engDayCast[name].toUpperCase()}}</strong>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            {{{data.map(i => { return /[.!?]$/.test(i) ? i : i+"."}).join("<br/>")}}}
          </h3>
        </div>
      </div>
      @endeach
    </div>
  <footer class="mb-10 md:mb-0">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
      @if(tv !== true)
      <div class="flex justify-center space-x-6 md:order-2">
        <a href="https://github.com/NERO2k" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">GitHub</span>
          <svg class="h-6 w-6" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
      @endif
      <div class="mt-8 md:mt-0 md:order-1">
        <p class="text-center text-base leading-6 text-gray-400 {{tv === true ? 'float-left' : ''}}">
          &copy; {{year}} William Helmenius. All rights reserved.
        </p>
      </div>
    </div>
  </footer>
  </body>
  <script>
    $('.grid').isotope({
      stagger: 0,
      transitionDuration: 0,
      itemSelector: '.grid-item'
    });
    $(document).ready(function(){
		$("body").removeClass("opacity-0");
		$('.grid').isotope( 'reloadItems' ).isotope();
		@if(tv !== true)
		$("html").css("overflow", "auto");
		$("grid").css("overflow", "auto");
		$("body").hide().fadeIn(1000, function() {
			$('.grid').isotope( 'reloadItems' ).isotope();
		});
  		@endif
    });
	$(window).load(function(){
		$('.grid').isotope( 'reloadItems' ).isotope();
	});
  </script>
</html>
