<html>
	<head>
		<title>Veckans Meny | Eatery Bot</title>
		<link rel="shortcut icon" href="https://i.imgur.com/cIM9Nsf.png" type="image/x-icon">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	
		<style>
			.container {
				max-width: 760px;
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translateY(-50%) translateX(-50%);
			}

			body {
				background: linear-gradient(270deg, #7b90dc, #ffffff, #7b90dc, #7b90dc);
				background-size: 800% 800%;
				animation: BgAnimation 0s ease infinite;
			}	

			@-webkit-keyframes BgAnimation {
			    0%{background-position:0% 50%}
			    50%{background-position:100% 50%}
			    100%{background-position:0% 50%}
			}
			@-moz-keyframes BgAnimation {
			    0%{background-position:0% 50%}
			    50%{background-position:100% 50%}
			    100%{background-position:0% 50%}
			}
			@keyframes BgAnimation {
			    0%{background-position:0% 50%}
			    50%{background-position:100% 50%}
			    100%{background-position:0% 50%}
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="my-3 p-3 bg-white rounded shadow-sm">
				<h6 class="border-bottom border-gray pb-2 mb-0"><%- title %></h6>
				<% Object.keys(data).forEach(function(key){ %>
					<div class="media text-muted pt-3">
						<p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
							<strong class="d-block text-gray-dark"><%- key %></strong>
							<%- data[key].replace(/\n/g, "<br>"); %>
						</p>
					</div>
				<% }); %>
				<small class="d-block mt-3">
					<%- extras.replace(/\n/g, "<br>"); %>
				</small>
			</div>
		</div>
	</body>
</html>