<%- include('header') %>
		<div class="container" id="container">
			<div class="my-3 p-3 bg-white rounded shadow-sm">
				<h6 class="border-bottom border-gray pb-2 mb-0">Serverfel</h6>
				<div style="margin-top: 10px;">
					<small>Oops. Ett fel verkar ha uppstått. Kunde inte hitta menyn för denna vecka. <br> Om detta problem fortsätter efter klockan 8:30 så bör du kontakta <strong>NERO2k#0001 (William Helmenius)</strong></small>
				</small>
			</div>
		</div>
<%- include('footer') %>