<%- include('header') %>
		<div class="container">
			<div class="my-3 p-3 bg-white rounded shadow-sm">
				<h6 class="border-bottom border-gray pb-2 mb-0">Serverfel</h6>
				<div style="margin-top: 10px;">
					<small>Oops. Ett fel verkar ha uppstått.</small><br>
					<small>Du bör kontakta <strong>NERO2k#0001 (William Helmenius)</strong> med tiden detta fel uppstod.</small>
				</small>
			</div>
		</div>
<%- include('footer') %>