<html lang="sv">
	<head>
		<title>Eatery Lunch Menyn | Lunchbot</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="The Premier Discord Bot for Tracking Your Favorite Lunch Establishment.">
		<link rel="shortcut icon" href="https://i.imgur.com/cIM9Nsf.png" type="image/x-icon">

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
		<style>
			.container {
				max-width: 760px;
			}

			canvas {
			    z-index: -1;
			    height: 100%;
			    width: 100%;
			    position:fixed;top:0;left:0
			    background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
			    background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
			    background-image: -moz-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
			    background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
			    background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
			    
			    background-image: -webkit-gradient(
			        linear,
			        left bottom,
			        left top,
			        color-stop(0, rgb(105,173,212)),
			        color-stop(0.84, rgb(23,82,145))
			    );
			}

		</style>
	</head>
	<body>
		<canvas id="canvas"></canvas>